/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,
body {
    overflow-x: hidden !important;
    background-color: white;
}

/* Cabeçalho */
header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
}

header h1 {
    cursor: context-menu;
}

/* Logo */
.logo {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FF;
    border-radius: 15px;
    font-weight: 700;
    font-size: 2rem;
    color: #6381A8;
}

.logo a {
    text-decoration: none;
    color: inherit;
    display: block;
}


/* Menu de navegação */
header .nav-header {
    margin-left: 245px;
}

header ul {
    color: #6381A8;
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 600;
}

header ul li {
    transition: transform 0.3s ease-in-out;
}

header ul a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

header ul li:hover {
    transform: scale(1.1);
}

header ul a:hover {
    color: #445d7e;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Botão de criação */
.creation {
    width: 50px;
    height: 50px;
    background-color: #6381A8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.creation:hover {
    background-color: #445d7e;
    transform: scale(1.1);
}

.creation i {
    color: #F8F8FF;
    font-size: 22px;
}

/* Imagem do perfil */
.perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #c0c7d0;
    cursor: pointer;
}

/* ------------------------------
    Container
------------------------------ */
.container {
    background-image: url(/public/banner.png);
    background-size: auto;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

/* Logo dentro do Container */
.planfy-logo {
    font-size: 4rem;
    font-weight: 700;
    color: #445d7e;
    position: absolute;
    top: 40%;
    cursor: context-menu;
}


/* ------------------------------
    Content
------------------------------ */
.content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-left: 265px;
    padding-right: 265px;
    margin-top: 200px;
    margin-bottom: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Seção de cards */
.content .box-card {
    display: flex;
    flex-direction: column;
    gap: 325px;
}

/* Card */
.content .card {
    max-width: 400px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 200px;
}

/* Remover margem inferior do primeiro card */
.content .box-card .card:nth-child(1) {
    margin-bottom: 0;
}

/* Hover nos cards */
.content .card:hover {
    transform: scale(1.08);
    z-index: 2;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Títulos e textos do card */
.content .card h1 {
    color: #6381A8;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content .card p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
}

/* Imagem do card */
.content img {
    width: 250px;
    height: 250px;
}

/* Seção central */
.content .column {
    display: grid;
    gap: 50px;
    margin-bottom: 135px;
}

/* Localização das bordas */
.border01,
.border02,
.border03,
.border04 {
    position: absolute;
    z-index: -0;
}

.border01 {
    top: 1000px;
    right: 0;
}

.border02 {
    top: 1000px;
}

.border03 {
    bottom: -1195px;
    right: 0;
}

.border04 {
    bottom: -1195px;
}

/* Tamanho e tipografia das bordas */
.border01 img {
    width: 600px;
    height: 450px;
}

.border02 img {
    width: 450px;
    height: 300px;
}

.border03 img {
    width: 450px;
    height: 350px;
}

.border04 img {
    width: 450px;
    height: 325px;
}

/* ------------------------------
    Box
------------------------------ */
.box-nav {
    margin-bottom: 200px;
    display: flex;
    align-items: center;
}

/* Caixa de texto */
.box-text {
    width: 60%;
    height: 400px;
    background-color: #6381A8;
    color: #F3F3F3;
    display: grid;
    align-items: center;
    align-content: center;
    padding: 25px 175px 25px 25px;
    border-radius: 0 50px 50px 0;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.2));
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}

/* Título da caixa de texto */
.box-text h1 {
    margin-bottom: 25px;
}

/* Imagem */
.box-nav img {
    width: 600px;
    height: 400px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 125px;
    background-color: #6381A8;
    color: #F3F3F3;
}

footer a {
    text-decoration: none;
}

/* Public */
.pulblic {
    text-align: center;
}

/* Logo */
footer h1.logo {
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445d7e;
    color: #F8F8FF;
    border-radius: 15px;
    font-weight: 700;
    font-size: 2rem;
}

/* Navigation */
.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-footer ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.nav-footer li {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

footer .nav-footer a {
    color: #F3F3F3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.nav-footer li:hover {
    transform: scale(1.1);
}

.nav-footer a:hover {
    color: #c2d1e6;
}

/* Social Apps */
.social-app {
    display: flex;
    gap: 15px;
    cursor: pointer;
    align-items: center;
}

.social-app i {
    font-size: 40px;
    color: #F3F3F3;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-app i:hover {
    color: #c2d1e6;
    transform: scale(1.1);
}

/* Footer text */
footer p {
    cursor: context-menu;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

/* Conteúdo do Modal */
.modal-content {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease-in-out;
}

/* Título do Modal */
#modal-title {
    font-size: 24px;
    color: #6381A8;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: context-menu;
}

/* Body do Modal */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}

/* Campo de texto */
#task-text {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

/* Select de Categoria */
#task-category {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    width: 100%;
    cursor: pointer;
}

/* Dropdown de Recorrência */
.custom-dropdown {
    position: relative;
}

#task-recurrence-display {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    background-color: #F8F8FF;
}

#task-recurrence-options {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#task-recurrence-display:focus+#task-recurrence-options,
#task-recurrence-options:hover {
    display: block;
    text-align: left;
}

#task-recurrence-options label {
    display: block;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
}

#task-recurrence-options input[type="checkbox"] {
    cursor: pointer;
}

#task-recurrence-options input {
    margin-right: 10px;
}

/* Rodapé do Modal */
.modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.modal-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

/* Estilo para botão salvar */
.save-btn {
    background-color: #6381A8;
    color: #F8F8FF;
}

.save-btn:hover {
    background-color: #445d7e;
    transform: scale(1.03);
}

/* Estilo para botão cancelar */
.cancel-btn {
    background-color: #d3d3d3;
    color: #333;
}

.cancel-btn:hover {
    background-color: #b4b4b4;
    transform: scale(1.03);
}

/* Transição suave para o Modal */
.modal.show {
    display: flex;
    opacity: 1;
}

/* Desqualificação do diaria */
.disabled-checkbox {
    opacity: 0.5;
    pointer-events: none;
}

/* Seletor de Horas*/
#task-time {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #6381A8;
    background-color: #F8F8FF;
    color: #445d7e;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}

/* Estilo quando o campo de hora estiver em foco */
#task-time:focus {
    border-color: #6381A8;
    outline: none;
}